
/* Fond dégradé sur toute la page */
html, body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}


/***************************** Profil User *******************************/

.profil-container{
    align-content: center;

}
.profil-button{
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#profil{
    height: 350px;
    width: 300px;
    background-color: orange;
    color: white;
    font-weight: bold;
    align-self: end;
    align-content: center;
    text-align: center;
    position: fixed;
    transition: right .5s ease-out;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 1;
    top: 150px;
}
#profil.hidden{
    right: -300px;
}
#profil.visible{
    right: 0;
}
.profil-button{
    cursor: pointer;
    background-color: orange;
    color: white;
    font-weight: bold;
}

#close-button{
    cursor: pointer;
    background-color: white;
    color: orange;
    font-weight: bold;
}

.icone{
    background: aliceblue;
    color: orange;
    font-weight: bold;
    border-radius: 25px ;
    height: 25px;
    width: 25px;
    align-self: center;
    text-align: center;
    text-overflow: clip;
}


/***************************** Profil User *******************************/

.background_indexe{
    background-size: 450px 450px;
    background-position: center;
    background-repeat: repeat;

}

/***************************** Header *******************************/
header {
    background-color: #666666;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

/***************************** Container *******************************/

/* Conteneur principal */
.container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 30px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    align-content: center;
}

* {
    box-sizing: border-box; /* S'assure que le padding et les marges sont pris en compte */
}

/* Style du contenu */
.content {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
}
#index-container{
    color: white;
}
#module3-container{
    color: #474444;
}

/***************************** Footer *******************************/

footer {
    background-color: #666666;
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour le footer */
    width: 100%;
}


/***************************** Formulaire Connexion / Inscription *******************************/


.eb-garamond-text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 457;
    font-style: normal;
}


/* Style pour le message de bienvenue */
.welcome-message {
    font-size: 1.2em;
    margin: 20px auto;
    color: #ffffff; /* Couleur du texte */
    background-color: rgb(255, 127, 0); /* Couleur de fond */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.none-connection-message {
    font-size: 1.2em;
    margin: 20px auto;
    color: #ffffff; /* Couleur du texte */
    background-color: orangered; /* Couleur de fond */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

/* Style pour le conteneur principal */
.form-container {
    background-color: #666666;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

/* Style pour le titre */
.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 37px;
    padding: 25px 0;
}

.titre h2a, .titre h2c {
    font-size: 40px;
    margin: 0 10px;
}

.titre h2b {
    color: orange;
    margin: 0 10px;
}

/* Style pour les messages d'erreur */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style pour le formulaire */
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour les labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Style pour les champs de saisie */
input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: darkorange;
    outline: none;
}

/* Style pour les boutons */
.form_button {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #ffce33;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_button:hover {
    background-color: #e6b800;
}

/* Style pour le lien d'inscription */
.inscription-link {
    color: #ffce33;
    text-decoration: none;
    font-weight: bold;
}

.inscription-link:hover {
    text-decoration: underline;
}

/* Style pour le conteneur du CAPTCHA */
.captcha-container {
    margin-top: 20px;
}

.captcha-container h3 {
    margin-bottom: 10px;
}

.captcha-container label {
    margin-bottom: 5px;
}

.captcha-container input[type="text"] {
    margin-bottom: 20px;
}

.captcha-container .form_button {
    width: 200px;
}



/***************************** Style de l'historique  *******************************/

table.historique {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historique th, .historique td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Centre le texte */
}

.historique th {
    background-color: #21bd23;
    color: white;
}

.historique td {
    font-size: 16px;
}

/* Largeur définie pour chaque colonne de l'historique*/
.historique th:nth-child(1), .historique td:nth-child(1) {
    width: 15%;
}

.historique th:nth-child(2), .historique td:nth-child(2) {
    width: 15%;
}

.historique th:nth-child(3), .historique td:nth-child(3) {
    width: 10%;
}

.historique th:nth-child(4), .historique td:nth-child(4) {
    width: 10%;
}

.historique th:nth-child(5) {
    width: 30%;  /* Donne plus d'espace à la colonne Date */
}

.historique td:nth-child(5) {
    width: 25%;  /* Ajustement pour la colonne Date */
}

.historique th:nth-child(6), .historique td:nth-child(6) {
    width: 15%;
}


/***************************** Damier  *******************************/

table.table {
    border-color: transparent;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table td {
    width: 40px; /* Largeur fixe des cellules */
    height: 40px; /* Hauteur fixe des cellules */
    border: 1px solid #000; /* Ajout d'une bordure pour mieux voir les cases */
}

.form{
    background-color: #e9f0ff;
    border-radius: 1em;
    padding: 20px;

}
input[type=number]{
    outline-width: 1px ;
    outline-style: inset;
    outline-color: lightgray;


    border: 10px gray;
    background-color: aliceblue;
    border-radius: 0.5em;
    height: 45px;
    width: 90px
}
input[type=number]:focus, #input-num-m3{
    outline-color: #ff8888;
    outline-style: groove ;
    outline-width: 2px;
    box-shadow: inset 0 0 5px lightgray;
}

input[type = number]:hover{
    cursor: text;
}


label{
    font-weight: bold;
}
label::selection{
    background-color: #666666;
    color:aliceblue;

}



/***************************** Module 4  *******************************/



/* Style des sections supplémentaires */
.detail-calcul {
    display: inline-block;                      /* Utilisation de flexbox pour disposer les sections côte à côte */
    justify-content: space-between;     /* Espacement entre les sections */
    width: 1500px;                /* Marge en bas pour séparer des autres éléments */
}

.section-calc {
    width: 48%;                         /* Largeur des sections pour qu'elles occupent environ la moitié de l'espace disponible */
    background-color: #f9f9f9;         /* Couleur de fond des sections */
    border: 1px solid #ddd;             /* Bordure des sections */
    border-radius: 8px;                /* Coins arrondis des sections */
    padding: 20px;                      /* Espacement interne des sections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner un effet de profondeur */
}

.section-calc h3 {
    margin-top: 0;                      /* Suppression de la marge supérieure pour les titres des sections */
}

.section-content {
    /* Hauteur minimale pour les carrés vides */
    border: 1px dashed #ccc;            /* Bordure en pointillés pour les carrés vides */
    padding: 10px;                      /* Espacement interne des carrés vides */
    border-radius: 4px;                 /* Coins arrondis des carrés vides */
    margin-top: 10px;                   /* Marge en haut pour séparer du titre */
    background-color: white;
    justify-content: flex-end;
}


/* Style du formulaire de calcul */
.calculation-form {
    background-color: #ffefef;         /* Couleur de fond du formulaire */
    border-radius: 1em;                /* Coins arrondis du formulaire */
    padding: 20px;                     /* Espacement interne du formulaire */
    margin-bottom: 20px;               /* Marge en bas pour séparer des autres éléments */
}

.input-group {
    display: flex;                     /* Utilisation de flexbox pour disposer les champs de saisie */
    flex-wrap: wrap;                    /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    gap: 15px;                          /* Espacement entre les champs de saisie */
    margin-bottom: 20px;
    /* Marge en bas pour séparer des autres éléments */
}

.form-field {
    flex: 1 1 45%;                     /* Largeur flexible des champs de saisie */
    margin-bottom: 10px;               /* Marge en bas pour séparer des autres éléments */
    background-color: white;
}

.form-field label {
    display: block;                    /* Affichage en bloc pour les étiquettes */
    margin-bottom: 5px;                 /* Marge en bas pour séparer des champs de saisie */
}

.form-field  {
    width: 100%;                        /* Largeur des champs de saisie */
    padding: 10px;                      /* Espacement interne des champs de saisie */
    border: .5px solid #ffaaaa;             /* Bordure des champs de saisie */
    border-radius: 4px;                /* Coins arrondis des champs de saisie */
    box-sizing: border-box;            /* Inclure le padding et la bordure dans la largeur totale */
}

.method-selection {
    margin-bottom: 20px;               /* Marge en bas pour séparer des autres éléments */
    font-weight: bold;
}
.method-selection select {
    padding: 10px;                      /* Espacement interne de la sélection de la méthode */
    border: 1px solid white;            /* Bordure de la sélection de la méthode */
    border-radius: 4px;                /* Coins arrondis de la sélection de la méthode */
    width: 100%;                       /* Largeur de la sélection de la méthode */
    box-sizing: border-box;            /* Inclure le padding et la bordure dans la largeur totale */
    cursor: pointer;
    background-color: #ff7777;
    font-weight: bold;
    color: white;
}
.method-selection {
    cursor: pointer;
}
.method-selection option:hover{
    background-color: white;
}


.results-table {
    margin-bottom: 20px;               /* Marge en bas pour séparer des autres éléments */
}

.results-table table {
    width: 100%;                       /* Largeur du tableau de résultats */
    border-collapse: collapse;          /* Fusion des bordures du tableau */
    margin-top: 10px;                   /* Marge en haut pour séparer du titre */
    outline: none;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;            /* Bordure des cellules du tableau */
    padding: 10px;                     /* Espacement interne des cellules du tableau */
    text-align: center;                /* Alignement du texte au centre des cellules */
    background-color: white;
}

.results-table th {
    background-color: #ff7777; /* Couleur de fond des en-têtes du tableau */
    color: white;
}

.button-group {
    display: flex;                     /* Utilisation de flexbox pour disposer les boutons */
    justify-content: center;            /* Centrage des boutons */
    gap: 10px;                          /* Espacement entre les boutons */
}

.btn-calcul, .btn-save, .btn-reset, .btn-retour {
    padding: 10px 20px;                 /* Espacement interne des boutons */
    border: none;                       /* Suppression de la bordure des boutons */
    border-radius: 4px;                /* Coins arrondis des boutons */
    cursor: pointer;                   /* Changement du curseur en pointeur */
}

.btn-calcul {
    font-weight: bold;
    background-color: #007bff;         /* Couleur de fond du bouton "Calcul" */
    color: #fff;                        /* Couleur du texte du bouton "Calcul" */
}

.btn-calcul:hover {
    background-color: #0056b3;         /* Couleur de fond du bouton "Calcul" au survol */
}

.btn-save {
    font-weight: bold;
    background-color: #28a745;         /* Couleur de fond du bouton "Sauvegarder" */
    color: #fff;                       /* Couleur du texte du bouton "Sauvegarder" */
}

.btn-save:hover {
    background-color: #218838;         /* Couleur de fond du bouton "Sauvegarder" au survol */
}

.btn-reset, .btn-retour {
    font-weight: bold;

    background-color: #dc3545;         /* Couleur de fond du bouton "Annuler" */
    color: #fff;                      /* Couleur du texte du bouton "Annuler" */
}

.btn-reset:hover, .btn-retour:hover {
    background-color: #c82333;         /* Couleur de fond du bouton "Annuler" au survol */
}

/* Fin CSS Pour le Module 4 -> Module de calcul */


/* ****************************************** NAV BAR  ******************************************************** */
.bouton-nav{
    color: white; text-decoration: none;  -webkit-transition: background-color 2s ease-out, color 2s ease-out,
padding .05s ease-out,
border .05s ease-out;
    -moz-transition: background-color 0.75s ease-out, color 2s ease-out,
    padding .5s ease-out,
    border .05s ease-out;
    -o-transition: background-color 0.75s ease-out, color 2s ease-out,
    padding .5s ease-out,
    border .05s ease-out;
    transition: background-color 0.75s ease-out, color 2s ease-out,
    padding .5s ease-out,
    border .05s ease-out;
    padding: 5px 10px;
    border-radius: 5px;

}

.bouton-nav-disabled{
    color: #666666;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
}

#bouton-nav0:hover {
    color: black;
    background-color: #b0d8f8;
    padding: 10px 15px;
    border-radius: 5px;
}
#bouton-nav0:b{
    background: white;
}


#bouton-nav1:hover {
    color: blue;
    background-color: #a8d8e8;
    border: solid #5baccd;
    padding: 10px 15px;
    border-radius: 5px;
}

#bouton-nav2:hover{
    color: darkgreen;
    background-color: #d1e8bb;
    border: solid #8d9f7c;
    padding: 10px 15px;
    border-radius: 5px;
}

#bouton-nav3:hover {
    color: red;
    background-color: #f1e7e7;
    border: solid #e89393;
    padding: 10px 15px;
    border-radius: 5px;
}

#bouton-nav4:hover {
    color: goldenrod;
    background-color: #fffce5;
    border: solid #c6aa54;
    padding: 10px 15px;
    border-radius: 5px;
}





